<!DOCTYPE html>

{% load static %}

{% csrf_token %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Video Meeting</title>
</head>

<body>
    <div class="join">
        <div>
            <label id = "label-username">username</label>
            <input id="username" type="text" name="username">
            <button id="btn-join">join meeting</button>
            <select name="account">
                <option value="student" selected>student</option>
                <option value="lecturer">lecturer</option>
            </select>
            <p id="state"></p>
        </div>
    </div>

    <div class="main-grid-container">
        <div class="video-container">
            <div>
                <video id="local-video" autoplay playsinline></video>
                <p class="username"></p>
            </div>
        </div>
        <div class="control">
            <button id="btn-toggle-audio">mute</button>
            <button id="btn-toggle-video">stop sharing</button>
        </div>
    </div>
    <div id="chat">
        <div id="messages">
            <ul id="message-list"></ul>
        </div>
    </div>
    <div id="send-messages">
        <div>
            <input id="msg" type="text" name="msg" placeholder="chat with others">
            <button id="btn-send-message">send</button>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>